<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>404 Sayfa Bulunamadı</title>
</head>
<body>
  <h1>404 Sayfa Bulunamadı</h1>
  <p>Üzgünüz, istediğiniz sayfayı bulamadık.</p>
</body>
</html>